<div>
    <a href="{{@site.url}}/richtige-reiseplanung/">
        <h2>Richtige Reiseplanung - von A bis Z</h2>
    </a>
    <p>Hier findest du einen Wegweiser von der Reiseplanung, über die Flugsuche bis hin zum Einsteigen in den Flieger, Bus oder Bahn.</p>
</div>